{% extends 'core/base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{{ post.title }} | {% endblock %}
    <link rel="stylesheet" href="{% static 'main_blog/css/detail.css' %}">
</head>
<body>
    



{% block content %}
{% load static %}

<section class="hero">
    <div class="hero-body">
        <div class="container">
            
                
                
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        
                            <div class="content is-medium">
                                <!-- can also use date: 'm-d-y H:i' to use hour and minute created-->
                                <h1 class="title has-text-black is-size-1 has-text-weight-semibold" style="font-family: 'Bakbak One';">{{ post.title }}</h1>
                                <h2 class="subtitle is-5 has-text-grey">{{ post.created_at|timesince }} ago</h2>
                                {% if post.image %}
                                    <figure class="image mt-0 mb-6">
                                        <img src="{{ post.image.url }}">
                                    </figure>
                                {% endif %}
                                    
                                    <p class="has-text-dark" style="font-family: 'Poppins', sans-serif;">{{ post.intro }}</p>
                                    <p style="font-family: 'Poppins', sans-serif;">{{ post.body | safe }}</p>
                                    <p>category: <a href="{% url 'category_detail' post.category.slug %}"><small style="background-color: aliceblue;">{{ post.category }}</small></a></p>


                                    <hr>
                                    <h2 class="subtitle is -2">Leave a comment</h2>

                                    <form method="post" class="box mb-6">
                                        {% csrf_token %}
                                        {{ form.as_p }}

                                        <div class="field">
                                            <div class="control">
                                                <button class="button is-success">Post comment</button>
                                            </div>
                                        </div>
                                    </form>

                                    {% for comment in post.comments.all %}
                                        <article class="media box">
                                            <div class="media-content">
                                                <strong>{{ comment.name }}</strong>
                                                <p><small>{{comment.created_at | timesince }} ago</small><br></p>
                                                {{ comment.body }}
                                            </div>
                                        </article>
                                    {% endfor %}

                                
                                
                            </div>
                        
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
</body>
</html>
{% endblock %}