{% extends 'core/base.html' %}
{% block title %}{{ post.title }} | {% endblock %}

{% block content %}
<section class="hero ">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        
                            <div class="content is-medium">
                                <!-- can also use date: 'm-d-y H:i' to use hour and minute created--> 
                                
                                    <h2 class="subtitle is-5 has-text-grey">{{ post.created_at|timesince }} ago</h2>
                                    <h1 class="title has-text-black is-2" style="font-family: 'Poppins', sans-serif;">{{ post.title }}</h1>
                                    <p class="has-text-dark" style="font-family: 'Poppins', sans-serif;">{{ post.intro }}</p>
                                    <p style="font-family: 'Poppins', sans-serif;">{{ post.body }}</p>


                                    <hr>
                                    <h2 class="subtitle is -2">Leave a comment</h2>

                                    <form method="post" class="mb-6">
                                        {% csrf_token %}
                                        {{ form.as_p }}

                                        <div class="field">
                                            <div class="control">
                                                <button class="button is-success">Post comment</button>
                                            </div>
                                        </div>
                                    </form>

                                    {% for comment in post.comments.all %}
                                        <article class="media box">
                                            <div class="media-content">
                                                <strong>{{ comment.name }}</strong>
                                                <p><small>{{comment.created_at | timesince }} ago</small><br></p>
                                                {{ comment.body }}
                                            </div>
                                        </article>
                                    {% endfor %}

                                
                                
                            </div>
                        
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
{% endblock %}