<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}Fontaine</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">



    <style>
        nav.navbar {
          height: 6rem !important;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
        }
    </style>
    
</head>
<body>
    <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <strong>Fontaine</strong>
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <div class=" navbar-item">
            <form method="get" action="{% url 'search' %}">
              <div class="control has-icons-left">
                <input class="input is-rounded" name="query" type="text" placeholder="Search">
                <span class="icon is-left">
                  <i class="fa fa-search"></i>
                </span>
              </div>
            </form>
            
          </div>
          <a href="/" class="navbar-item is-active is-size-5 has-text-weight-semibold">
            Home
          </a>
          <a href="{% url 'about' %}" class="navbar-item is-size-5 has-text-weight-semibold">
            About
          </a>
          
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->
  <section class="section">
      <div class="container">
        {% block content %}
        {% endblock %}

      </div>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Fontaine</strong> by <a href="https://github.com/sam-mugo">Mugo</a><p>Copyright (c) 2021.</p> 
        
      </p>
    </div>
  </footer>
    
</body>
</html>